section.contact {
	margin: 30px auto 30px;
	max-width: 1330px;
	padding: 0 15px;

	.contact-header {
		display: flex;
		overflow-x: hidden;

		@include tablet {
			grid-column: 1 / -1;
		}

		.main-title {
			color: $accent-color;
			margin: 0 auto 0 0;
			padding: 0 30px 30px 0;
			position: relative;

			&:after {
				background: $main-color;
				content: '';
				height: 1px;
				left: 100%;
				position: absolute;
				top: 30%;
				width: 100vw;
			}
		}
	}

	.contact-content {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

		@include tablet {
			grid-template-areas: 'form' 'info' 'map';
		}

		.form {
			display: flex;
			flex-direction: column;
			position: relative;

			@include tablet {
				grid-area: form;
				grid-column: 1 / -1;
				margin-bottom: 2rem;
			}

			.field-block {
				margin-bottom: 15px;
				position: relative;

				label {
					//background: rgba(#fff, 0.5);
					display: block;
					color: $main-color;
					font-size: 0.8em;
					letter-spacing: 0.05em;
					padding: 6px 9px;
					text-transform: uppercase;
				}

				.field {
					background: rgba(#fff, 0.25);
					border: 1px solid #ddd;
					padding: 6px 9px;
					transition: all 0.3s;
					width: 100%;

					&:focus {
						background: #fff;
						outline: none;
					}

					&.textarea {
						resize: none;
						height: 100px;
					}
				}

				&.message {
					&:focus {
						background: #fff;
					}
					&:before {
						color: $accent-color;
						font-size: 1.5em;
						left: 15px;
						position: absolute;
						top: 39px;
					}
				}
			}

			.submit {
				background: transparent;
				border: 3px solid $main-color;
				color: $accent-color;
				cursor: pointer;
				display: inline-block;
				font-size: 0.8em;
				font-weight: bold;
				letter-spacing: 0.05em;
				padding: 15px;
				text-transform: uppercase;
				transition: all 0.3s;
				width: fit-content;

				&:hover {
					background: rgba($accent-color, 0.15);
				}

				&:focus {
					outline: none;
				}
			}

			.output-msg {
				p {
					margin: 0;
					padding: 0;

					&.msg-sending {
						position: relative;
						padding: 0 0 0 30px;

						&:before {
							animation: spin 1s linear infinite;
							content: '';
							border: 3px solid $accent-color;
							border-left: 3px solid $main-color;
							position: absolute;
							top: 0;
							left: 0;
							border-radius: 50%;
							height: 20px;
							width: 20px;
						}
					}

					&.msg-ok {
						color: aquamarine;
					}

					&.msg-error {
						color: tomato;
					}
				}
			}
		}

		.map-holder {
			width: 100%;
			height: 100%;
			position: relative;

			@include tablet {
				grid-area: map;
				height: 300px;
			}

			.gmap {
				background: $main-color;
				border: 3px solid #ddd;
				position: relative;

				@include tablet {
					grid-column: 1 / -1;
					height: 300px;
					margin-bottom: 30px;
				}

				.markk {
					span {
						background: $accent-color;
						color: #fff;
						display: block;
						position: relative;
						text-align: center;
						text-transform: uppercase;
						padding: 9px;
						width: 100px;
						z-index: 2;

						&:before {
							background: $accent-color;
							top: calc(100% - 15px);
							content: '';
							height: 20px;
							left: calc(50% - 10px);
							position: absolute;
							transform: rotate(45deg);
							width: 20px;
							z-index: -1;
						}
					}
				}
			}
		}

		.contact-info {
			@include tablet {
				grid-area: info;
				grid-column: 1 / -1;
			}

			.contact-block {
				border-bottom: 3px solid $main-color;
				margin-bottom: 21px;
				padding: 0 0 6px 60px;
				position: relative;
				font-size: 16px;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 2em;
					color: $accent-color;
				}

				&:last-child {
					margin: 0;
				}

				h4 {
					font-family: 'Cairo';
					margin: 0;
					text-transform: uppercase;
				}

				p {
					a {
						color: $accent-color;
					}
				}
			}
		}
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
