.site-footer {
	background: $main-color;
	padding: 15px;

	.columns {
		display: flex;
		justify-content: center;
		max-width: 800px;
		margin: 0 auto;

		@include tablet {
			flex-wrap: wrap;
		}

		.footer-block {
			margin: 0 15px;

			@include tablet {
				width: 100%;
			}

			h4 {
				color: $accent-color;
				font: 0.8em 'Cairo';
				margin: 0;
				text-align: center;
				text-transform: uppercase;
			}

			.links {
				display: flex;
				justify-content: center;

				@include tablet {
					margin-bottom: 30px;
				}

				a {
					color: #fff;
					display: inline-block;
					padding: 3px 6px;
					position: relative;
					text-decoration: none;

					&:hover {
						opacity: 0.7;
					}

					.icon {
						color: $accent-color;
						display: inline-block;
						height: 1.25em;
						width: 1.25em;

						&:before {
							position: absolute;
							top: 4px;
							font-size: 1.25em;
						}
					}

					span {
						padding-left: 6px;
					}

					&.social {
						@include tablet {
							font-size: 1.5em;
						}
						span {
							display: none;
						}
					}
				}

				&.contact-links {
					@include tablet {
						flex-wrap: wrap;
						max-width: 250px;
						margin: 0 auto;
					}

					a {
						@include tablet {
							font-size: 1.25em;
						}
					}
				}
			}
		}
	}

	.copy {
		padding: 30px 15px 15px;

		p {
			color: #fff;
			font-size: 0.8em;
			text-align: center;
		}
	}
}
