section.materials {
	max-width: 1300px;
	margin: 0 auto;

	.materials-header {
		.main-title {
			background: $accent-color;
			margin: 0;
			color: #fff;
			padding: 15px;
			text-align: center;
		}

		img {
			height: 300px;
			object-fit: cover;
			width: 100%;
		}
	}

	.materials-list {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		margin: 90px auto 30px;
		max-width: 900px;

		.product-icon {
			color: $main-color;
			position: relative;
			text-decoration: none;

			.icon {
				align-items: center;
				background: #fff;
				border-radius: 100%;
				box-shadow: 0 2px 3px rgba(#000, 0.5);
				display: flex;
				height: 100px;
				justify-content: center;
				justify-self: center;
				margin: 0 auto;
				padding: 21px;
				position: relative;
				transition: all 0.3s;
				width: 100px;

				&:after {
					border-radius: 50%;
					border: 1px solid #ddd;
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					transform: scale(1.15);
					transition: all 0.3s;
					width: 100%;
				}

				img {
					height: 100%;
					object-fit: contain;
					transition: all 0.3s;
					width: 100%;
				}
			}

			h3 {
				font-size: 1em;
				text-align: center;
				font-weight: normal;
				text-transform: uppercase;
				transition: all 0.3s;
			}

			&:hover {
				.icon {
					padding: 24px;

					&:after {
						border-color: $accent-color;
					}

					img {
						opacity: 0.8;
					}
				}

				h3 {
					color: $accent-color;
				}
			}
		}
	}
}
