.services {
	background: $accent-color;
	padding: 15px;

	.wrapper {
		max-width: 1300px;
		margin: 0 auto;

		.grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			@include tablet {
				grid-template-columns: 1fr;
			}

			.service-block {
				background: $accent-color;
				border-right: 1px solid #fff;
				padding: 0 15px;

				@include tablet {
					border: none;
					padding: 15px;
				}

				&:last-child {
					border: none;
				}

				h3 {
					color: #fff;
					font-family: 'Cairo', sans-serif;
					margin: 0;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					text-align: center;
					font-size: 1em;
				}

				p {
					color: #fff;
					margin: 0;
					text-align: center;
				}
			}
		}
	}
}
