.specs-modal {
	background: rgba($main-color, 0.7);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 100px;
	width: 100vw;
	display: flex;
	height: 1px;
	opacity: 0;
	overflow: hidden;
	padding: 30px;
	pointer-events: none;
	transition: opacity 0.3s;
	z-index: 90;

	@include tablet {
		padding: 15px;
	}

	.specs-content {
		background: #fff;
		box-shadow: $box-shadow;
		height: 100%;
		margin: auto;
		max-width: 800px;
		width: 100%;
		overflow: auto;
		position: relative;

		.modal-header {
			background: #fff;
			border-bottom: 1px solid $accent-color;
			display: grid;
			grid-template-columns: 1fr 20px;
			position: sticky;
			top: 0;
			padding: 15px;

			h3 {
				color: $accent-color;
				font-weight: normal;
				font-family: 'Cairo', sans-serif;
				margin: 0;
			}

			.close-modal {
				align-self: flex-start;
				background: transparent;
				border: none;
				color: #f39200;
				cursor: pointer;
				font-size: 30px;
				font-weight: bold;
				height: 20px;
				outline: none;
				line-height: 20px;
				text-align: center;

				&:hover {
					opacity: 0.8;
				}
			}
		}

		.modal-content {
			display: flex;
			justify-content: center;
			padding: 15px;

			img {
				width: 100%;
			}

			.table-wrapper {
				width: 100%;

				.specs-table {
					background: lighten($accent-color, 45);
					border: 1px solid #fff;
					text-align: center;
					width: 100%;

					th,
					td {
						border: #fff solid 1px;
						padding: 6px;
					}

					thead {
						background: lighten($main-color, 60);
						position: sticky;
						top: 15px;

						tr {
							&:first-child {
								background: lighten($main-color, 40);
								color: #fff;
							}

							&:nth-child(even) {
								background: lighten($main-color, 65);
							}
						}
					}

					tbody {
						tr {
							&:nth-child(odd) {
								background: rgba($accent-color, 0.2);
							}
						}
					}
				}
			}
		}
	}

	&.open {
		opacity: 1;
		height: calc(100vh - 100px);
		overflow: auto;
		pointer-events: initial;

		@include tablet {
			height: calc(100vh - 60px);
			top: 60px;
		}
	}
}
