section.laminated {
	position: relative;

	.vigas-header {
		position: relative;
		height: 350px;
		z-index: 1;

		@include tablet {
			height: 250px;
		}

		.main-title {
			background: rgba($main-color, 0.75);
			color: #fff;
			margin: 0;
			padding: 15px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 2;
		}
	}

	.vigas-content {
		margin: 0 auto;
		max-width: 1330px;
		padding: 0 15px;
		position: relative;
		z-index: 2;

		.vigas-block {
			background: #fff;
			border-bottom: 1px solid $accent-color;
			padding: 60px 15px 45px;
			position: relative;
			top: -30px;
			max-width: 1100px;
			margin: 0 auto;

			.vigas-text {
				margin: 0 auto;
				max-width: 780px;

				.sub-title {
					color: $accent-color;
					text-align: center;
					text-transform: uppercase;
					margin: 0 0 1em;
					letter-spacing: 0.05em;
					font-size: 1em;
				}

				.border-block {
					border: 1px solid $light;
					padding: 15px 15px 0;
					margin-bottom: 30px;

					p {
						text-align: center;
					}
				}

				.color-block {
					p {
						color: $accent-color;
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
		}

		.specs {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			margin: 0 auto;
			max-width: 800px;

			@include tablet {
				grid-template-columns: 1fr;
			}

			.spec-block {
				padding: 15px;
				display: flex;
				flex-direction: column;

				@include tablet {
					align-items: center;
					flex-direction: row;
					padding: 15px 15vw;
				}

				@include phone {
					padding: 15px 0;
				}

				.specs-icon {
					background: #fff;
					border-radius: 50%;
					cursor: pointer;
					height: 100px;
					margin: 0 auto 30px;
					width: 100px;
					padding: 27px;
					position: relative;
					box-shadow: 0 2px 3px rgba(#000, 0.5);
					transition: all 0.3s;

					@include tablet {
						margin: 0 30px 0 0;
						height: 70px;
						width: 70px;
						padding: 15px;
					}

					&:after {
						border-radius: 50%;
						border: 1px solid #ddd;
						content: '';
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						transform: scale(1.15);
						transition: all 0.3s;
						width: 100%;
					}

					img {
						width: 100%;
						transition: all 0.3s;
					}

					&:hover {
						padding: 30px;

						&:after {
							border-color: $accent-color;
						}

						img {
							opacity: 0.8;
						}
					}
				}

				.specs-title {
					text-align: center;
					font-size: 1.25rem;
					color: $accent-color;
					margin: 0;

					@include tablet {
						text-align: left;
						width: calc(100% - 100px);
					}

					span {
						display: block;

						@include tablet {
							display: inline;
						}

						&.grey {
							color: $main-color;
						}
					}
				}
			}
		}

		.vigas-gallery {
			background: #fff;
			border-top: 1px solid $accent-color;
			margin: 30px auto;
			max-width: 1330px;
			padding: 30px 15px;

			&-title {
				color: $accent-color;
				font-family: 'Cairo', sans-serif;
				text-align: center;
				margin: 0 0 15px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

			&-content {
				.intro-text {
					border: 1px solid $light;
					padding: 15px;
					margin-bottom: 30px;

					p {
						margin: 0;
						text-align: center;
					}
				}

				.laminated-subtitle {
					background: $accent-color;
					margin: 0 0 15px;
					padding: 6px 15px;
					color: #fff;
					font-weight: normal;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}
			}
		}
	}

	.float-btn-wrapper {
		display: flex;
		height: 0;
		position: sticky;
		top: 100px;
		z-index: 10;

		@include tablet {
			height: 100vh;
			pointer-events: none;
			position: fixed;
			top: 0;
			width: 100%;
		}

		.float-btn {
			//animation: slide 0.5s ease-in-out 0.8s forwards;
			background: rgba(64, 37, 26, 0.75);
			box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
			display: flex;
			flex-direction: column;
			height: 380px;
			opacity: 0.8;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 24px;
			transition: all 0.4s;
			width: 50px;

			@include tablet {
				bottom: 15px;
				height: 45px;
				max-height: initial;
				min-height: initial;
				pointer-events: auto;
				top: auto;
			}

			&:hover {
				opacity: 1;
			}

			.arrow {
				color: #fff;
				cursor: pointer;
				font-size: 2em;
				display: flex;
				line-height: 30px;
				opacity: 0.6;
				height: 50px;
				width: 40px;
				position: absolute;
				top: 0;
				transition: all 0.3s;

				@include tablet {
					transform: rotate(90deg);
					left: 6px;
					top: -3px;
				}

				span {
					margin: 6px auto auto;
				}

				&:hover {
					opacity: 1;
				}
			}

			img {
				display: block;
				height: 45%;
				object-fit: cover;
				width: 100%;

				@include tablet {
					min-height: 50px;
				}
			}

			.tag {
				color: #fff;
				font-family: 'Cairo', sans-serif;
				font-weight: normal;
				letter-spacing: 0.05em;
				margin: 30px 15px;
				opacity: 0;
				text-overflow: clip;
				text-transform: uppercase;
				transition: all 0.3s;
				white-space: nowrap;

				span {
					display: block;
					font-size: 1.5em;

					&:nth-child(2) {
						font-size: 1em;
					}
					&:nth-child(3) {
						font-size: 1.25em;
						font-weight: bold;
					}
				}
			}

			.link {
				border-top: 1px solid $light;
				color: $accent-color;
				display: flex;
				font-family: 'Cairo', sans-serif;
				font-weight: bold;
				justify-content: space-between;
				margin: auto 0 0;
				opacity: 0;
				padding: 9px 12px;
				text-decoration: none;
				text-overflow: clip;
				text-transform: uppercase;
				transition: all 0.3s;
				white-space: nowrap;

				&:after {
					color: #fff;
					content: '\232A';
					display: block;
					font-size: 1em;
					line-height: 1rem;
					margin: -1px 0 0;
					transition: all 0.3s;
				}

				&:hover {
					background: $accent-color;
					color: #fff;

					&:after {
						margin: -1px -4px 0 0;
					}
				}
			}

			&.open {
				background: rgba(64, 37, 26, 0.8);
				opacity: 1;
				width: 250px;
				right: 24px;
				transition: all 0.6s ease-in-out;

				@include tablet {
					height: calc(100vh - 200px);
					transition: all 0.4s ease-in-out;
				}

				.arrow {
					transform: rotate(180deg);

					@include tablet {
						top: 0;
						left: 0;
					}
				}

				.tag,
				.link {
					opacity: 1;
				}
			}
		}
	}
}

@keyframes slide {
	0% {
		right: -200px;
	}
	100% {
		right: 0;
	}
}
