$main-color: #554f46;
$accent-color: #f39200;
$light: lighten(#000, 90);
$grey: lighten(#000, 30);
//
$kaindl: rgb(0, 48, 91);
$kaindl-light: rgb(165, 176, 202);
//
$box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
