/**********************
*  DEPENDENCIES
***********************/
@import './dependencies/mixines';
@import './dependencies/variables';

/**********************
*  GLOBAL STYLES
***********************/
body {
	background: $light;
	color: #666;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-weight: 300;

	p {
		line-height: 1.25;
		margin: 0 0 1em;
	}

	strong,
	b {
		font-weight: 700;
	}

	.icon {
		position: relative;
	}

	.main-title {
		font-family: 'Cairo', sans-serif;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}

.fader {
	animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/**********************
*  COMPONENTS
***********************/

@import './components/header';
@import './components/landing';
@import './components/materials';
@import './components/single-material';
@import './components/slider';
@import './components/kaindl';
@import './components/vigas';
@import './components/vigas-modal';
@import './components/about';
@import './components/contact';
@import './components/carrousel';
@import './components/services';
@import './components/footer';
@import './components/404';
